extends  ../_skeleton

block body

	include ../sections/_header

	.container
		.row
			.col-xs-5
				a(href='inside.html') inside
				h1 fxgdfg
				h2 1234567890
				h3 1234567890
				h3 1234567890
				h3 1234567890
				h3 1234567890

	include ../sections/_footer


