extends  ../_skeleton

block body

	include ../sections/_header

	.container
		.row
			.col-sm-8.col-sm-offset-2
				img.img-responsive(src='img/preview.jpg', alt='Start HTML5 Template')
				.testfont
					p
						| Lorem ipsum dol or sit amet, consectetur adipisicing elit. Accusamus accusantium, atque dicta error ex explicabo, itaque laborum modi nemo, nostrum obcaecati pariatur quae quaerat sequi tempora tenetur ullam voluptate voluptatibus!
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam architecto ducimus eum exercitationem in ipsa, ipsam iure labore libero minus neque odio qui repudiandae similique sit tempore voluptate, voluptatum?
					p
						| Lorem ipssd fjsdlfkjsum dolor sit amet, consectetur adipisicing elit. Dolorum ducimus incidunt laboriosam necessitatibus nesciunt nihil nobis nulla officia perspiciatis qui quos rem, sint sunt temporibus tenetur ut veniam. Consectetur, voluptatum?
					p
						| Lorem ipsum dolor sit ame t, consectetur adipisicing elit. Dolorum ducimus incidunt laboriosam necessitatibus nesciunt nihil nobis nulla officia perspiciatis qui quos rem, sint sunt temporibus tenetur ut veniam. Consectetur, voluptatum?
				i.fab.fa-accessible-icon
				i.fas.fa-blind
				i.material-icons-3d_rotation

	include ../sections/_footer