@import "fonts"
@import "libs"
@import "vars"
@import "_mixins/mixins"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.testfont
	p
		background-color: black
		display: flex
		border-radius: 11em
		@include media-breakpoint-down(xs)
			display: none
		&::before
			left: -50px
			font-size: 50px
		&:nth-of-type(1)
			font-weight: 300
			&::before
				@include before-fa("\f29d")
		&:nth-of-type(2)
			font-weight: normal
			&::before
				@include before-fab("\f368")
		&:nth-of-type(3)
			font-weight: 600
			&::before
				@include before-mi('\e84d')

ul
	display: block
li
	display: block
a
	display: block
p
	display: block
	@include media-breakpoint-down(md)
		color: red
	@include media-breakpoint-up(lg)
		color: green

.header
	background-color: #111
	@include media-breakpoint-down(xl)
	


//@include media-breakpoint-up(xs)
//	.header
//		background-color: yellow
//
//@include media-breakpoint-up(sm)
//	.header
//		background-color: green
//
//@include media-breakpoint-up(md)
//	.header
//		background-color: red
//
//@include media-breakpoint-up(lg)
//	.header
//		background-color: blue
//
//@include media-breakpoint-up(xl)
//	.header
//		background-color: indigo


@include media-breakpoint-down(xs)
	.header
		background-color: yellow

@include media-breakpoint-down(sm)
	.header
		background-color: green

@include media-breakpoint-down(md)
	.header
		background-color: red

@include media-breakpoint-down(lg)
	.header
		background-color: blue

@include media-breakpoint-down(xl)
	.header
		background-color: indigo
		@include media-breakpoint-down(lg)
		@include media-breakpoint-down(xs)
		

//
//
//@include media-breakpoint-up(md)
//	.header
//		background-color: red
//
//
//@include media-breakpoint-down(sm)
//	.header
//		background-color: green
